{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9243VQLMF5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
  
      gtag('config', 'G-9243VQLMF5');
    </script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Elliot Powell</title>
  </head>
  <body style="background-color: #4a4a4a; padding: 0; margin: 0; font-family:Sans-serif">
    <div id="root">
      <div style="display: flex; justify-content: center; align-items: center; height: 100vh">
        <h1 style="color:white">Loading My Portfolio<h1>
      </div>
    </div>
    <script type="text/javascript" src="{% static 'portfolio/public/dist/main.js' %}"></script>
  </body>
</html>
